@using ProjectScope.ViewModels

@{
    Layout = "_layout";
}

@model ChangePasswordViewModel

<div class="container mt-3 Login">
    <div class="h2 text-center mb-3">
        Change Password
    </div>
    <form asp-action="ChangePassword" asp-controller="WebHome" method="post">

        <div class="form-floating mb-3">
            <input asp-for="OldPassword" class="form-control" placeholder="Enter Old Password" />
            <label asp-for="OldPassword" class="form-label"></label>
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="NewPassword" name="NewPassword" class="form-control" placeholder="Enter New Password" />
            <label asp-for="NewPassword" class="form-label"></label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </form>
</div>
