
@{
    Layout = "_Layout";
}
<div class="container mt-3 Login">
    <div class="h2 text-center mb-3">
        Login
    </div>
    <form asp-action="FirstTimeLogin" asp-controller="WebHome" method="post">
        <div class="form-floating mb-3">
            <input type="Email" name="Email" class="form-control" placeholder="Enter Email" required />
            <label name="Email" class="form-label"></label>
            
        </div>
        
        <div class="form-floating">
            <input class="btn btn-primary" type="submit" value="Send OTP" />
        </div>
    </form>
</div>