@using ProjectScope.ViewModels

@{
    Layout = "_Layout";
}

@model ResetPasswordViewModel

<div class="container mt-3 Login">
    <div class="h2 text-center mb-3">
        Reset Password
    </div>
    <form asp-action="ResetPassword" asp-controller="WebHome" method="post">
        <div class="form-floating mb-3">
            <input asp-for="TempPassword" class="form-control"  />
            <label asp-for="TempPassword" class="form-label"></label>
            <span class="text-danger" asp-validation-for="TempPassword"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="NewPassword" class="form-control"  />
            <label asp-for="NewPassword" class="form-label"></label>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" class="form-control" />
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="form-floating">
            <input class="btn btn-primary" type="submit" value="Reset Password" />
        </div>
    </form>
</div>